{
  "name": "My Credential #1",
  "slug": "my-credential-1",
  "driver": "postgres",
  "options": {
    "host": "localhost",
    "port": "5432",
    "user": "my_username",
    "password": "my_password",
    "database": "my_database"
  }
}
