{
  "slug": "order-data",
  "name": "Order Data Model Example",
  "description": "An example data model for a fictitious ecommerce store.",

  "data_sets": [
    {
      "name": "orders",
      "credential": "reflect-redshift-1",

      "tables": [
        {
          "table": "orders",
          "columns": {
            "order_date": "time",
            "order_priority": "text",
            "order_quantity": "number",
            "sales": "number",
            "discount": "number",
            "profit": "number",
            "ship_mode": "text",
            "unit_price": "number",
            "shipping_cost": "number",
            "customer_name": "text",        
            "city": "text",                 
            "zip_code": "number",             
            "state": "text",                
            "region": "text",               
            "customer_segment": "text",     
            "product_category": "text",     
            "product_sub_category": "text", 
            "product_name": "text",         
            "product_container": "text",    
            "product_base_margin": "number"
          }
        }
      ]
    }
  ],

  "fields": {
    "Order Date": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["order_date"]
    },

    "Customer Name": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["customer_name"]
    },

    "Customer Segment": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["customer_segment"]
    },

    "Region": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["region"]
    },

    "State": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["state"]
    },

    "City": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["city"]
    },

    "Zip Code": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["zip_code"]
    },

    "Product Container": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["product_container"]
    },

    "Product Category": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["product_category"]
    },

    "Product Sub Category": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["product_sub_category"]
    },

    "Order Priority": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["order_priority"]
    },

    "Shipping Method": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["ship_mode"]
    },

    "Product Name": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["product_name"]
    },

    "Sales": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["sales"],
      "expression": "SUM(sales)"
    },

    "Total Sales": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["sales"],
      "expression": "SUM(sales)"
    },

    "Number of Sales": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["sales"],
      "expression": "COUNT(sales)"
    },

    "Average of Sales": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["sales"],
      "expression": "AVG(sales)"
    },

    "Sum of Profit": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["profit"],
      "expression": "SUM(profit)"
    },

    "Total Orders": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["order_quantity"],
      "expression": "SUM(order_quantity)"
    },

    "Total Shipping Cost": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["shipping_cost"],
      "expression": "SUM(shipping_cost)"
    },

    "Total Items Sold": {
      "data_set": "orders",
      "table": "orders",
      "columns": ["order_quantity"],
      "expression": "SUM(order_quantity)"
    }
  },

  "filters": {
    "Order Date": "required",
    "Region": "optional",
    "State": "optional",
    "Customer Segment": "optional",
    "Sales": "optional"
  }
}
